h6 {
    padding-top: 50px;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
}

h4 {
  margin-top: 15px;
  
}

.p-centered {
    text-align: center;
}

.customNav {
  
  width: 100%;
  background-color: #00295f !important;
  z-index: 10;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}

.nav-item {
  margin: 0px 15px;
}

.customNav a {
  color: white !important;
}

.navCTA {
  font-size: 15px;
}

.jumbotron {
    background-color: #e9eff6;
    height: 500px;
    height: calc(75vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
  }

  .container {
    padding-left: 40px;
  }

.firstsection {
    display: flex;
    flex-direction: column;
   
}

  .summary {
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .summary-mediaobj {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
   
  }

  .section-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .card {
    width: 100%;
  }

  .leftimage {
    width: 30%;
  }

  ul {
    padding-left:20px;
}
 
   .container-fluid {
     display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 20px;
     box-sizing: border-box;
     padding-top: 0%;
     
   }

   .secondsection {
    background-color: #f6f0e8;
    
   }

.fourthsection {
  margin-top: 0%;

}   

.fifthsection {
  background-color: #f6f0e8;
  
}

.sixthsection {
  background-color: #f6f0e8;
}

.seventhsection {
  margin-top: 8%;
  margin-bottom: 8%;
  padding-left: 200px;
  padding-right: 200px;
}

.conclusionsection {
  background-color: #f6f0e8;
  
}

.card-body-narrow {
  width: 70%;
}


.media {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  gap: 30px;
}

.card-blue {
    background-color: #00295f;
    
}

.card-body-white {
    color: white;

}

.card-text-white {
    padding: 24px;
}

.card-img {
  background-image: url(../images/80percent.png);
  background-size: cover;
  background-repeat: no-repeat;

}
  
.downarrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.feedback {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;

}
  @media only screen and (max-width: 768px) {
    
  
  }